*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    text-align-last: center;
}

.container{
    margin-bottom: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
}

.input-container{
    display: flex;
    flex-direction: row;
}

.input{
    padding: 5px;
}

.output-container{
    width: 100px;
    height: 21px;
    border: 1px solid #000;
    text-align: center;
}
